/* Login Page */
.login-page {
  background:#df0000;
  .container {
    max-width: 960px;
  }

  .navbar-gitlab .container {
    max-width: none;
  }

  .brand-holder {
    font-size: 18px;
    line-height: 1.5;

    p {
      color: #888;
    }

    h1:first-child {
      font-weight: normal;
      margin-bottom: 30px;
    }

    img {
      max-width: 100%;
      margin-bottom:  30px;
    }

    a {
      font-weight: bold;
    }
  }

  .login-box{
    padding: 15px;

    .login-heading h3 {
      font-weight: 300;
      line-height: 1.5;
      margin: 0 0 10px 0;
      text-align: center;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .login-footer {
      margin-top: 10px;

      p:last-child {
        margin-bottom: 0;
      }
    }

    a.forgot {
      float: right;
      padding-top: 6px
    }

    .nav .active a {
      background: transparent;
    }
  }
   .btn {
    float:right;
    border-radius: 0;
    background: #FFFFFF;
    border: 0;
    margin-top:15px;
    color: #080808;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
    background: #FFFFFF;
    border: 0;
    color: #080808;
    opacity:0.7;
    }
   }
  .form-control {
    font-size: 14px;
    padding: 10px 8px;
    width: 100%;
    height: auto;
    border-radius:0;
    margin-bottom:10px;
    border:0;

    &.middle {
      border-top: 0;
      margin-bottom:0px;
      @include border-radius(0);
    }

    &:active, &:focus {
      background-color: #FFF;
    }
  }

  .devise-errors {
    h2 {
      margin-top: 0;
      font-size: 14px;
      color: #a00;
    }
  }

  .remember-me {
    margin-top: -10px;

    label {
      font-weight: normal;
font-weight: normal;
    color: #FFF;
    margin-top: 20px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .login-page {
    .col-sm-5.pull-right {
      float: none !important;
    }
  }
}

.oauth-image-link {
  margin-right: 10px;

  img {
    width: 32px;
    height: 32px;
  }
}
