:css
  header.navbar-gitlab .container {
    background:transparent !important;
    border-bottom: 0;
  }
  header.navbar-gitlab .container h4 img {
    margin-top:30px;
  }
  .remember-me {
    display:none;
  }


= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.text_field :login, class: "form-control top", placeholder: "Username or Email", autofocus: "autofocus"
  = f.password_field :password, class: "form-control bottom", placeholder: "Password"
  - if devise_mapping.rememberable?
    .remember-me.checkbox
      %label{for: "user_remember_me"}
        = check_box_tag  :remember_me, 1
        %span Remember me
  %div
    = f.submit "Sign in", class: "btn btn-save"
