!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_mars.login-page.application
    = render "layouts/empty_head_panel"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        .row.prepend-top-20
          .col-sm-4.col-sm-offset-4
            = yield